
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trash Tag Nepal</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .icons_wrapper{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
                <div class="icons_wrapper">
                    <div>
                        <h1 class="white-text green darken-3 right-align"> #TrashTag</h1>
                        <i class="large material-icons">public</i>>
                        <i class="large material-icons">add</i>
                        <i class="large material-icons">accessibility</i>
                        <i class="large material-icons">drag_handle</i>
                        <i class="large material-icons pink-text">local_florist</i>
                    </div>        
                </div>
    </div>

    <div class="container box grey lighten-2">
        <h1 class="btn waves-effect waves-light">Test</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Animi ab rem modi, doloremque tempora eveniet voluptatibus beatae aspernatur aliquam 
            expedita labore, odio soluta eligendi amet officia optio officiis deserunt accusantium. Lorem, 
            ipsum dolor sit amet consectetur adipisicing elit. Error cum eaque perspiciatis a qui excepturi 
            sed corrupti, veniam, dolores placeat, modi illo ipsum odit ratione magnam cupiditate. Quae, similique esse.</p>
    
   <a href="#" class="btn waves-effect waves-light">
    <span>Send</span>
    <i class="material-icons left">fast_forward</i>
   </a>

   <a href="" class="btn-floating pulse">
           <i class="material-icons">add</i>
   </a>

   <a href="" class="btn-floating pulse white">
       <i class="material-icons red-text">edit</i>
   </a>
    </div>

</body>
</html>